@media screen and (max-width: 890px){

    .grillas{
        grid-template-rows: 250px auto;
        grid-template-columns: auto !important;
        position: relative;
    }

    nav{
        height: 300px;
        position: fixed;
        width: 100%;
        z-index: 3;
        background-color: white;

        .logoBuscador{
            flex-direction: row;
            justify-content: center;
            a{
                margin-right: 15px;
            }
        }
        ul{
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            flex-wrap: wrap;
            li{
                margin-right: 20px;
            }
        }
        .songContainer{
            display: flex;
            justify-content: center;
            .infoSong{
                flex-direction: row;
                width: 50%;
            }
            audio{
                width: 40%;
            }
        }
    }

    .inicioContainer{
        position: absolute;
        top: 300px;
        .decoracion{
            img{
                display: none;
            }
        }
    }

    .playlistContainer{
        .playlistInfoContainer{
            .infoPlaylist{
                position: absolute;
                top: 317px;
                align-items: flex-start;
                flex-direction: column;
                height: auto;
                padding: 10px;
                flex-wrap: wrap;
                .img{
                    margin-left: 0px;
                    margin-right: 0px;
                }
            }
            .infoPlaylistDos{
                top: 630px;
            }
        }

    }

    .artistContainer{
        .artistaContainer{
            .infoArtista{
                position: absolute;
                top: 317px;
                height: auto;
                align-items: flex-start;
                padding: 50px 10px;
                flex-direction: column;
                .img{
                    margin-left: 0px;
                    margin-right: 0px;
                }
            }
            .infoArtistaDos{
                top: 720px;
            }
            .opcionesArtista{
                display: none;
            }
        }
    }

}